*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.main{
    max-width: 1510px;
    margin: 0 auto;
}
.container{
  width: 1170px;
  height: 100%;
  display: block;
  margin: 0 auto;
}
.section_img{
    background-image:url("../img/bg.png");
   width: 100%;
    min-height: 747px;
    
}
.header{
height: 100px;

}
.header .navi  {
    margin: 0 auto;
    max-width: 1170px;
    border-bottom: 1px solid #BABBC5 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
      }

.list{

    font-family:"Raleway";
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 670px;
    height: 63px;
    /* font-size: 13px; */
    font-weight: 700;
    color: #FFFFFF;
    font-size: 13px;
    text-transform: uppercase;
}

.list li{
    margin-top: 55px;
    text-align: center;
    padding-bottom: 30px;
    width: 134px;
    height: 100%;
    list-style-type:none;
    text-decoration: none;
    color: #FFFFFF;
}
.list li a{
text-decoration: none;
color: #FFFFFF;
}
.list  li:first-child{
  border-bottom: 4px solid #BABBC5;

}

.banner{
    margin: 0 auto;
    text-align: center;
    color: #FFFFFF;
}
.banner h1{
 font-family: "Raleway";
 font-weight: 900;
 font-size: 64px;
 margin-top: 130px;
 text-transform: uppercase ;
}
.banner h2{
  
    font-family: "Raleway";
    font-weight: 400;
    font-size: 24px;
    margin-top: 31px;
    text-align: center;
    color: #FFFFFF;
   }

.banner_but{
font-family: "Raleway";
 font-weight: 900;
 font-size: 24px;
 display: block;
margin: 0 auto;
width: 370px;
height: 80px;
background-color: #FF4343;
margin-top: 80px;
color: #FFFFFF;
border: 1px solid #FF4343 ;

   }
   



.features{
  
max-width: 100%;
min-height: 949px;
padding:116px 170px;
padding-bottom: 133px;
display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.features_box{
 width: 370px;
 height: 305px;
 /* display: inline-block; */

}

.features_box .features_img{
 width: 100px;
 height: 100px;
display: block;
margin: 0 auto;
 

}

.features_box h3{
    font-family: "Raleway";
    font-weight: 900;
    font-size: 24px;
    text-align: center;
    margin-top: 41px;
    text-transform: uppercase;
   
   }
   .features_box p{
    font-family: "Raleway";
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin-top: 21px;
 
    color: #6C7279;
   
   }

   .work {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 1px;
 grid-column-gap: 1px;
   }

 .work .work_box{
  
    position: relative;
   }
   .work_box .hover {
    display: none;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 67, 67, 0.8);
    color: white;
}

.work .work_box:hover .hover {
  display: flex;

}
  
  
.our_team{
    width: 100%;
    min-height: 847px;
    display: flex;
   justify-content:space-between;
   flex-wrap: wrap;
   padding: 0 170px 0 170px;
   

}
.our_team .person_card{
    margin-top: 114px;
    width: 270px;
    height: 619px;
    margin: 114 15px 0 15px;

}

   
.our_team .person_card img{
   display: block;
   margin: 0 auto;
   width: 270px;
   height: 270px;
}

.our_team .person_card h3{
   
    font-family: "Raleway";
    font-weight: 700;
    font-size:24px;
    margin-top: 30px;
    color: #2D3033; 


 }
   
 .our_team .person_card h3{
   
    font-family: "Raleway";
    font-weight: 700;
    font-size:24px;
    margin-top: 30px;
    color: #2D3033; 


 }
     
 .our_team .person_card span{
   
    font-family: "Raleway";
    font-weight: 400;
    font-size:18px;
    margin-top: 5px;
    color: #FF4343; 
text-transform: uppercase;

 }
 .our_team .person_card p{
   
    font-family: "Raleway";
    font-weight: 400;
    font-size:18px;
    margin-top: 18px;
    color: #6C7279


 }

 .our_team .person_card .icon{
   width: 100%;
   height: 40px;
display: block;
margin-top: 38px;
 }
 .our_team .person_card .icon img{
    width: 39px;
    height:39px;
 display:inline-block
 
  }

  .testimonials{
    width: 100%;
  height: 535px;
  }
   

 .carousel-item_color {
    width: 100%;
    height: 490px;
  background-color: #5C3249;
  }
  .carousel-item_color .carousel_img {
    width: 741px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
   }
   .carousel-item_color .carousel_img img {
    width: 741px;
    height: 100%;
    display: inline-block;
   }
   .carousel-item_color .carousel_text {
    width: 763px;
    height: 100%;
display: inline-block;
vertical-align: top;
   }
   .carousel-item_color .carousel_text blockquote {
  width: 400px;
   height: 230px;
font-family: "Cardo";
font-style: italic;
font-weight: 400;
font-size:36px;
color: #FFFFFF;
display: inline-block;
margin: 116px 0 0 129px ;
   }

   .carousel-item_color .carousel_text p{
   margin-left: 129px;
    font-family: "Raleway";
   font-weight: 700;
  font-size:13px;
  color: #FFFFFF;
text-transform: uppercase;
     }
  
.testimonials{

  width: 100%;
  height: 452px;
}
.carousel-indicators {
bottom: -60px;
 
  }
  .carousel-indicators .but_style {
    margin: 0 25px;
background-color: #FFFFFF;
width: 14px;
height: 14px;
border-radius: 14px;
border: 1px solid #7E5D6F;
}
.carousel-indicators .active {
 background-color: #5C3249;
}

.testimonials h2{
margin-top: 159px;
font-family: "Raleway";
font-weight: 500;
font-size:30px;
  text-align: center;
}
.testimonials p{
  margin-top: 5px;
  font-family: "Raleway";
  font-weight: 700;
  font-size:18px;
    text-align: center;
  }

  .testimonials .banner_but{
    margin-top: 50px;
    font-family: "Raleway";
    font-weight: 700;
    font-size:18px;
      text-align: center;
    }
    .footer{
      width: 100%;
      background-color:  #353C65;
    }
    .footer .container .footer_box{
      width: 100%;
      min-height: 251px;
      display:flex;
      justify-content:space-between;
      flex-wrap: wrap;
     

    }
    
    .footer .location,.social, .about  {
      width: 370px;
      height: 113px;
      margin-top: 71px;
      color: #ffff;
   
    }

    .footer .location h3,.social h3, .about h3  {
    
    text-align: center;
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    }

    .footer .location  p, .about  p  {
      text-align: center;
     font-family: "Raleway";
     font-size: 18px;
     margin-top:18px ;
     font-weight: 400;
     margin-bottom: 0px;
      }
    .footer .social .icon  {
      margin: 49px 99px;
      display: flex;
      justify-content: space-between;
    }

    .footer .copyright  {
    height: 90px;
    width: 100%;
    background-color: #2C3154;
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 400;
    color: #808080;
    }

    .footer .copyright p  {
      margin: 0 auto;
      height: 42px;
      width: 370px;
      padding-top: 24px;
      }
      .footer .copyright p span  {
      color: #FFFFFF;
        }
     